<div class="flex flex-col flex-auto w-full">
  <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
    <!-- <mat-toolbar color="primary" class="mt-0">
      <mat-toolbar-row>
        <span>CLIENTE</span>
        <span class="example-spacer"></span>
        <p>{{ data.nombres }} {{ data.apellidos }}</p>
      </mat-toolbar-row>
    </mat-toolbar> -->
    <div class="container mt-2">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4" style="max-width: 440px;">
            <img src="{{ data.imagen }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ data.primer_nombre }} {{ data.segundo_nombre }} {{ data.apellido_paterno
                }} {{ data.apellido_materno }}</h5>
              <p class="card-text">
                <strong>CI: </strong> {{ data.ci }}
              </p>
              <p class="card-text">
                <strong>Emitido: </strong> {{ data.emitido }}
              </p>
              <p class="card-text">
                <strong>Celular: </strong> {{ data.celular }}
              </p>
              <p class="card-text">
                <strong>Fecha nacimiento: </strong> {{ data.fecha_nacimiento }}
              </p>
              <p class="card-text">
                <strong>Email: </strong> {{ data.email }}
              </p>
              <p class="card-text">
                <strong>Email: </strong> {{ data.email }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <nav class="nav nav-pills flex-column flex-sm-row mt-2">
        <!-- <button class="nav-link active" id="nav-cli-tab" data-bs-toggle="tab" data-bs-target="#nav-cli" type="button"
          role="tab" aria-controls="nav-cli" aria-selected="true">Cliente</button> -->
        <button class="bordertab flex-sm-fill text-sm-center nav-link active" id="nav-cert-vol-tab" data-bs-toggle="tab"
          data-bs-target="#nav-cert-vol" type="button" role="tab" aria-controls="nav-cert-vol"
          aria-selected="false">Certificados - Volumenes</button>

        <button class="bordertab flex-sm-fill text-sm-center nav-link" id="nav-actividades-tab" data-bs-toggle="tab"
          data-bs-target="#nav-actividades" type="button" role="tab" aria-controls="nav-actividades"
          aria-selected="false">Actividades</button>

        <button class="bordertab flex-sm-fill text-sm-center nav-link " id="nav-dep-tab" data-bs-toggle="tab"
          data-bs-target="#nav-dep" type="button" role="tab" aria-controls="nav-dep"
          aria-selected="false">Indumentarias</button>

        <button class="bordertab flex-sm-fill text-sm-center nav-link" id="nav-adj-tab" data-bs-toggle="tab"
          data-bs-target="#nav-adj" type="button" role="tab" aria-controls="nav-adj"
          aria-selected="false">Intereses</button>

      </nav>
      <div class="tab-content mb-5" id="nav-tabContent">
        <!-- <div class="tab-pane fade show active" id="nav-cli" role="tabpanel" aria-labelledby="nav-cli-tab" tabindex="0">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, quaerat facere enim soluta qui consequatur,
          beatae placeat nemo laudantium dolorum, excepturi eum nihil voluptas in nesciunt sed hic perspiciatis
          quidem.567
        </div> -->

        <div class="tab-pane fade" id="nav-dep" role="tabpanel" aria-labelledby="nav-dep-tab" tabindex="0">
          <!-- dependientes -->
          <mat-toolbar class="mt-0">
            <mat-toolbar-row>
              <!-- <span>Dependientes</span> -->
              <span class="example-spacer"></span>
              <button (click)="createVentaIndumentaria()" mat-flat-button color="primary" aria-label="Añadir">
                Añadir <mat-icon>add</mat-icon>
              </button>
            </mat-toolbar-row>
          </mat-toolbar>

          <!-- <div class="mat-elevation-z8"> -->
          <section class="example-container mat-elevation-z8" tabindex="0">
            <table mat-table [dataSource]="dataSource3" #sortdependientes="matSort" matSort>

              <!-- ID Column -->
              <ng-container matColumnDef="id" sticky>
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.id }}
                </td>
              </ng-container>

              <!-- Progress Column -->
              <ng-container matColumnDef="productos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Productos </th>
                <td mat-cell *matCellDef="let row"> {{ row.detalles.length }}
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
                <td mat-cell *matCellDef="let row"> {{ row.total }} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                <td mat-cell *matCellDef="let row"> {{ row.estado }} </td>
              </ng-container>

              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                <td mat-cell *matCellDef="let row"> {{ row.descripcion }} </td>
              </ng-container>

              <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Creado </th>
                <td mat-cell *matCellDef="let row"> {{row.created_at | date:'d MMMM y, h:mm a'}} </td>
              </ng-container>

              <ng-container matColumnDef="accion" stickyEnd>
                <th mat-header-cell *matHeaderCellDef> Acción </th>
                <td mat-cell *matCellDef="let row">
                  <!-- <button mat-icon-button (click)="editardependiente(row)" class="example-icon"
                    aria-label="Example icon-button with menu icon"><mat-icon>edit</mat-icon></button> -->
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="botón con menú">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <!-- <button mat-menu-item (click)="verVenta(row)">Ver</button>
                    <button mat-menu-item (click)="editardependiente(row)">Editar</button> -->
                    <button mat-menu-item (click)="verventa(row)">Ver</button>
                    <button mat-menu-item (click)="deleteVenta(row)">Eliminar</button>
                    <button mat-menu-item [matMenuTriggerFor]="estadovent">Cambiar estado</button>
                  </mat-menu>
                  <mat-menu #estadovent="matMenu">
                    <button mat-menu-item (click)="cambiarestadoVenta(row,item)"
                      *ngFor="let item of ['pendiente','entregado','cancelado']">{{
                      item }}</button>
                  </mat-menu>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>

            </table>

            <!-- </div> -->
          </section>
          <!-- end dependientes -->
        </div>
        <div class="tab-pane fade" id="nav-actividades" role="tabpanel" aria-labelledby="nav-actividades-tab"
          tabindex="0">
          <mat-toolbar class="mt-0">
            <mat-toolbar-row>
              <span class="example-spacer"></span>
              <button (click)="addactividad()" mat-flat-button color="primary" aria-label="Añadir">
                Añadir <mat-icon>add</mat-icon>
              </button>
            </mat-toolbar-row>
          </mat-toolbar>

          <!-- <div class="mat-elevation-z8"> -->
          <section class="example-container mat-elevation-z8" tabindex="0">
            <table mat-table [dataSource]="dataSource1" #tablacitas #sortcitas="matSort" matSort>

              <ng-container matColumnDef="nombre" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
              </ng-container>
              <ng-container matColumnDef="imagen">
                <th mat-header-cell *matHeaderCellDef> Imagen </th>
                <td mat-cell *matCellDef="let row"> <img [src]="row.imagen ?? 'assets/img/img-default.jpg'" width="80px"
                    alt="">
                </td>
              </ng-container>
              <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
                <td mat-cell *matCellDef="let row"> {{row.precio}} </td>
              </ng-container>

              <ng-container matColumnDef="fecha_ini">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Inicio </th>
                <td mat-cell *matCellDef="let row">
                  <div style="min-width: 100px;">{{row.fecha_ini | date:'d MMMM y, h:mm a'}}</div>
                </td>
              </ng-container>

              <!-- Fruit Column -->
              <ng-container matColumnDef="fecha_fin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fin </th>
                <td mat-cell *matCellDef="let row">
                  <div style="min-width: 100px;">{{row.fecha_fin | date:'d MMMM y, h:mm a'}}</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="modo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Modo </th>
                <td mat-cell *matCellDef="let row"> <small>{{row.modo}}</small> </td>
              </ng-container>

              <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                <td mat-cell *matCellDef="let row"> <small>{{row.tipo}}</small> </td>
              </ng-container>

              <ng-container matColumnDef="accion" stickyEnd>
                <th mat-header-cell *matHeaderCellDef> Acción </th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button [matMenuTriggerFor]="menucita" aria-label="botón con menú">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menucita="matMenu">
                    <button mat-menu-item (click)="addactividad(row)">Editar</button>
                    <!-- <button mat-menu-item [matMenuTriggerFor]="estado">Cambiar estado</button> -->
                  </mat-menu>
                  <!-- <mat-menu #estado="matMenu">
                    <button mat-menu-item (click)="cambiarestado(row,item)"
                      *ngFor="let item of ['Pendiente','Completado','Reprogramado']">{{
                      item }}</button>
                  </mat-menu> -->
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>

            </table>
            <!-- </div> -->
          </section>
          <!-- citaend -->
        </div>


        <div class="tab-pane fade" id="nav-adj" role="tabpanel" aria-labelledby="nav-adj-tab" tabindex="0">
          <section class="example-container mat-elevation-z8" tabindex="0">
            <table mat-table [dataSource]="dataSource2" #tablaadjuntos #sortabjunto="matSort" matSort>

              <!-- ID Column -->
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
              </ng-container>

              <!-- Progress Column -->
              <ng-container matColumnDef="imagen">
                <th mat-header-cell *matHeaderCellDef> Imagen </th>
                <td mat-cell *matCellDef="let row"> <img [src]="row.imagen ?? 'assets/img/img-default.jpg'" width="80px"
                    alt="">
                </td>
              </ng-container>

              <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef> Color </th>
                <td mat-cell *matCellDef="let row"> {{row.color}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="eliminar" stickyEnd>
                <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                <td mat-cell *matCellDef="let row">
                  <button (click)="eliminarInteres(row)" mat-icon-button class="example-icon" aria-label="">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

            </table>

            <!-- </div> -->
          </section>
          <!-- end adjuntos -->
        </div>

        <div class="tab-pane fade show active" id="nav-cert-vol" role="tabpanel" aria-labelledby="nav-cert-vol-tab"
          tabindex="0">
          <!-- ventas -->
          <mat-toolbar class="mt-0">
            <mat-toolbar-row>
              <span class="example-spacer"></span>
              <button (click)="addservicio()" mat-flat-button color="primary" aria-label="Añadir">
                Añadir <mat-icon>add</mat-icon>
              </button>
            </mat-toolbar-row>
          </mat-toolbar>
          <section class="example-container mat-elevation-z8" tabindex="0">

            <!-- <div class="mat-elevation-z8"> -->
            <table mat-table [dataSource]="dataSource0" #tablaventas #sort0="matSort" matSort>

              <!-- ID Column -->
              <ng-container matColumnDef="certificado" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Programa </th>
                <td mat-cell *matCellDef="let row"> {{ row.volumen.certificacion.nombre }}
                </td>
              </ng-container>

              <!-- Progress Column -->
              <ng-container matColumnDef="imagen">
                <th mat-header-cell *matHeaderCellDef> Imagen </th>
                <td mat-cell *matCellDef="let row"> <img
                    [src]="row.volumen.certificacion.imagen ?? 'assets/img/img-default.jpg'" width="80px" alt="">
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="volumen">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Volumen </th>
                <td mat-cell *matCellDef="let row"> {{row.volumen.nombre}} </td>
              </ng-container>

              <!-- Fruit Column -->
              <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                <td mat-cell *matCellDef="let row"> {{row.tipo}} </td>
              </ng-container>

              <!-- Fruit Column -->
              <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
              </ng-container>

              <!-- Fruit Column -->
              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
                <td mat-cell *matCellDef="let row"> {{row.total}} </td>
              </ng-container>



              <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Creado </th>
                <td mat-cell *matCellDef="let row"> {{row.created_at | date:'d MMMM y, h:mm a'}} </td>
              </ng-container>

              <ng-container matColumnDef="accion" stickyEnd>
                <th mat-header-cell *matHeaderCellDef> Acción </th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="botón con menú">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <!-- <button mat-menu-item (click)="verventa(row)">Ver y Pagar</button> -->
                    <button mat-menu-item (click)="deletec(row)">Eliminar</button>
                    <button mat-menu-item [matMenuTriggerFor]="estado">Cambiar estado</button>
                    <!-- <button mat-menu-item (click)="verCliente(row)">Ver</button> -->
                  </mat-menu>
                  <mat-menu #estado="matMenu">
                    <button mat-menu-item (click)="cambiarestadoc(row,item)"
                      *ngFor="let item of ['pendiente','aprobado','reprobado']">{{ item }}</button>
                  </mat-menu>
                  <!-- <button (click)="deleteventa(row)" mat-icon-button class="example-icon" aria-label="">
                            <mat-icon>delete</mat-icon>
                          </button> -->
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns0"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns0;"></tr>

            </table>
            <!-- </div> -->
          </section>
          <!-- ventasend -->
        </div>
      </div>
    </div>

  </div>
</div>